.project{
    width: 100%;
    background-color: black;
    color: white;
}
.project-heading>h1{
    width: 100%;
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-align: center;
}
.project-container{
    background-color: rgb(0, 0, 0);
    padding-inline: 50px;
}

